<footer id="contact">
  <section class="section">
    <div class="container">
  
      <div class="row justify-content-center">
        <div class="col-lg-8">
  
          <h2 class="font-weight-bold mb-4">Contact Us!</h2>
  
          <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
            <div class="col-lg-6 mb-3">
              <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
            </div>
            <div class="col-lg-6 mb-3">
              <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
            </div>
            <div class="col-12 mb-3">
              <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
            </div>
            <div class="col-12 text-right">
              <button type="submit" value="send" class="btn btn-main btn-main-sm">send</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </section>
  
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <a href="{{ site.BaseURL | relLangURL }}" class="mb-4 d-inline-block">{{ if site.Params.logo }} <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" {{with site.Params.logo_width}}width="{{.}}"{{end}}> {{ else }} {{ .Title }} {{ end }}</a>
          <ul class="list-inline footer-menu">
            {{ range site.Menus.footer }}
            <li class="list-inline-item">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          <!-- <p class="copyright-text">{{ site.Params.copyright | markdownify }}</p> -->
          <p class="copyright-text">Copyright © 2025 Gaks Goop. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
{{ with site.Params.snipcart }}
{{ if .enable }}
{{ with .snipcart_api }}
<div hidden id="snipcart" data-api-key="{{.}}"></div>
{{ end }}
{{ end }}
{{ end }}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>